:root{
    --mainColor:#cfdaf3;
    --secondaryColor:rgb(255, 255, 255);

    --borderColor:#c1c1c1;

    --mainText:grey;
    --secondaryText:#4b5156;
    --aboutBg: rgba(199, 208, 218, 0.8);
}

html, body{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Montserrat', sans-serif;
}
p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Ubuntu', sans-serif;

}

a{
    text-decoration: none;
    color:cornflowerblue;
    
}
ul{
    list-style:none;
}


h1 {font-size: 56px;}
h2 {font-size: 35px;
    display: inline;
    }
h3 {font-size: 27px;}
h4 {font-size: 23px;}
h5 {font-size: 19px;}
h6 {font-size: 15px;}

.ss1{
    background-color: var(--mainColor);
    /*border-bottom:1px solid var(--borderColor);*/
    overflow: auto;
}
/*.ss2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;

}*/
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.NBar{
    font-size: 25px;
    word-spacing: 30px;
    display: inline;
}
/*.ProjectsBar{
    font-size: 16px;
    display: inline;
    color:rgba(199, 208, 218, 0.8);
}*/

.start-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 20em;
}
.introduction-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 5px 5px 15px 5px #4B5156; 
    box-shadow: 5px 5px 15px 5px #4B5156;
    background: #8EACC1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: /*'navi-wrapper navi-wrapper'*/ 'l-col r-col';

}
.navi-wrapper{
    grid-area: navi-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
}
.l-col{
    grid-area: l-col;
    padding-top: 60px;
}
#mejpg{
    display: block;
    margin:0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
.r-col{
    grid-area: r-col;
    padding-top: 60px;
    display: grid;
    align-content: center;

}
#About-Box{
    width: 300px;
    border: 3px solid  grey;
    background-color: var(--aboutBg);
    padding: 15px;
    position: absolute;
}




body#tinymce {
background: #ffffff
}



@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

